.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4caf50;
    color: white;
}

.h1style {

    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.finnAge {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mainstyle {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

video {
    width: 30%;
    border-radius: 10px;
    float: left;
    margin-right:20px;

}
video {

    width: 20%;
    border-radius: 10px;
    }
.video-container {
    justify-content: center;
    display: flex;
    align-items: center;
}
.video-container video {
    display: inline-block;
    margin: 10px;
}
